{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
	<!-- Main container -->
<body class="thesaas-sections-split">
	<main class="main-content">



		<section class="section py-150" style="background-image: url({% static 'img/bg-gift.jpg' %})" data-overlay="5">
			<div class="container">
				<h2 class="text-white text-center">Yes</h2>
				<p class="text-white text-center opacity-70 lead">Approved the disbursement</p>

			</div>
        </section>
    </main>
</body>

{% endblock %}